#unTxt,
#pswdTxt,
.inloggen {
  border: 2px solid;
  padding: 0.5rem;
  border-radius: 7px;
}
.parentContainer {
  display: grid;
  gap: 1rem;
}

#unTxt:hover {
  color: blueviolet;
}
#pswdTxt:hover {
  color: blueviolet;
}
.inloggen {
  display: flex;
  justify-content: center;
  width: 6rem;
  height: 4rem;
  margin-top: 2rem;
}
.inloggen:hover {
  color: blueviolet;
}
