input[type="radio"] {
  appearance: auto; /* or 'radio' */
}
input[type="radio"]:focus {
  outline: 2px solid black; /* blue outline */
  outline-offset: 2px;
}
.fieldset {
  display: flex;
  gap: 10px;
  border: 1px solid black;
  height: 5rem;
  padding: 7px;
  align-items: center;
}
.submit {
  border: 1px solid black;
  height: 3rem;
  border-radius: 7px;
  padding: 6px;
}

.submit:hover {
  background-color: bisque;
  border: 3px solid black;
}
